h2 #{form.label}
  div от #{form.minPrice} р
form(id='f_' + form.name)
  each f in form.fields
    .field
      label(for='l_' + form.name + '_' + f.name)=f.label
      case f.inputType
        when "select"
          select(
            name=f.name,
            id='l_' + form.name + '_' + f.name
          )
            each o,index in f.options
              option(value=index)=o.label
        when "checkbox"
          input(
            type='checkbox',
            name=f.name,
            id='l_' + form.name + '_' + f.name
          )
