include ../data/app
doctype html
html(lang='ru-RU')
    head
        // SEO
        title #{app.name}
        meta(name='description' content=app.name)
        meta(name='keywords' content='')
        meta(name='author' content=app.author)
        meta(name='copyright' content='(c)')
        meta(http-equiv='Reply-to' content=app.email)

        // Open Graph
        meta(property='og:url' content='#')
        meta(property='og:title' content=app.name)
        meta(property='og:description' content=app.name)
        meta(property='og:site_name' content=app.name)

        //meta(property='og:image' content='/og-image.jpg')
        //meta(property='og:image:width' content='1200')
        //meta(property='og:image:height' content='628')

        // Meta
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0')
        meta(name='HandheldFriendly' content='True')
        meta(name='theme-color' content='#fff')
        meta(name='format-detection' content='telephone=no')
        meta(http-equiv='Cache-Control' content='no-cache')

        //base(href='/')

        //Apple
        link(rel='mask-icon', href='~assets/favicon/safari-pinned-tab.svg', color='#5bbad5')
        link(rel='apple-touch-icon', sizes='180x180', href='~assets/favicon/apple-touch-icon.png')

        //<link rel="apple-touch-icon" sizes="180x180" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-precomposed.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="180x180" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-180.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="152x152" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-152.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="144x144" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-144.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="120x120" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-120.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="114x114" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-114.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="76x76" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-76.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="72x72" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-72.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="60x60" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-60.png?d=900f612" />
        //<link rel="apple-touch-icon" sizes="57x57" href="https://s.tmimgcdn.com/img/logo-touch/apple-touch-icon-57.png?d=900f612" />

        //Windows
        meta(http-equiv='X-UA-Compatible' content='IE=Edge')
        meta(http-equiv='msthemecompatible', content='no')
        meta(name='application-name', content=app.name)
        meta(name='msapplication-tooltip', content=app.description)
        meta(name='msapplication-TileColor', content='#da532c')

        //<meta name="msapplication-TileImage" content="images/custom_icon_144.png"/>
        //<meta name="msapplication-square70x70logo" content="images/custom_icon_70.png"/>
        //<meta name="msapplication-square150x150logo" content="images/custom_icon_150.png"/>
        //<meta name="msapplication-square310x310logo" content="images/custom_icon_310.png"/>
        //<meta name="msapplication-wide310x150logo" content="images/custom_icon_310x150.png"/>

        //<meta name="msapplication-TileColor" content="#da532c">
        //<meta name="msapplication-TileImage" content="https://s.tmimgcdn.com/img/logo-touch/mstile-310x150.png?d=900f612" />
        //<meta name="msapplication-TileImage" content="https://s.tmimgcdn.com/img/logo-touch/mstile-310x310.png?d=900f612" />
        //<meta name="msapplication-TileImage" content="https://s.tmimgcdn.com/img/logo-touch/mstile-150x150.png?d=900f612" />
        //<meta name="msapplication-TileImage" content="https://s.tmimgcdn.com/img/logo-touch/mstile-144x144.png?d=900f612" />
        //<meta name="msapplication-TileImage" content="https://s.tmimgcdn.com/img/logo-touch/mstile-70x70.png?d=900f612" />
        //<meta name="msapplication-config" content="https://s.tmimgcdn.com/img/logo-touch/browserconfig.xml?d=900f612" />


        //Favicon
        link(rel='icon', type='image/x-icon' href='~assets/favicon/favicon.ico')
        link(rel='shortcut icon', type='image/x-icon' href='~assets/favicon/favicon.ico')
        link(rel='manifest', href='/assets/site.webmanifest')

        //<link rel="icon" type="image/png" href="https://s.tmimgcdn.com/img/logo-touch/favicon-16x16.png?d=900f612" sizes="16x16">
        //<link rel="icon" type="image/png" href="https://s.tmimgcdn.com/img/logo-touch/favicon-32x32.png?d=900f612" sizes="32x32">
        //<link rel="icon" type="image/png" href="https://s.tmimgcdn.com/img/logo-touch/favicon-96x96.png?d=900f612" sizes="96x96">
        //
        //<link rel="icon" type="image/png" sizes="36x36" href="https://s.tmimgcdn.com/img/logo-touch/android-chrome-36.png?d=900f612" />
        //<link rel="icon" type="image/png" sizes="48x48" href="https://s.tmimgcdn.com/img/logo-touch/android-chrome-48.png?d=900f612" />
        //<link rel="icon" type="image/png" sizes="72x72" href="https://s.tmimgcdn.com/img/logo-touch/android-chrome-72.png?d=900f612" />
        //<link rel="icon" type="image/png" sizes="96x96" href="https://s.tmimgcdn.com/img/logo-touch/android-chrome-96.png?d=900f612" />
        //<link rel="icon" type="image/png" sizes="144x144" href="https://s.tmimgcdn.com/img/logo-touch/android-chrome-144.png?d=900f612" />
        //<link rel="icon" type="image/png" sizes="192x192" href="https://s.tmimgcdn.com/img/logo-touch/android-chrome-192.png?d=900f612" />


        link(href='http://localhost:8888/' rel='canonical')
        link(href='${`css/styles.css?v=1`}' rel='stylesheet')
    body
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        .layout
            header.layout__header
                block header
            .layout__sidebar
                block sidebar
            main.layout__main
                block main
            footer.layout__footer(itemscope itemtype='http://schema.org/LocalBusiness')
                block footer
                //ООО «<span itemprop="name">Google</span>»
                //<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                //<span itemprop="streetAddress">Ленина 1</span>
                //<span itemprop="addressLocality">Санкт-Петербург</span>,
                //<span itemprop="addressRegion">Ленинградская обл.</span>
                //<meta itemprop="addressCountry" content="RU"/>
                //</div>
                //Время работы менеджера-консультанта:
                //<time itemprop="openingHours" datetime="Mo, Tu, We, Th, Fr, Sa, Su 10:00-21:00">10:00 - 21:00 Ежедневно</time>
                //<span itemprop="telephone">206-555-1234</span>.
                //<span itemprop="email">info@wikimedia.org</span>.
                //<a href="http://www.google.com" itemprop="url">http://google.com</a>.
        script(src='js/common.js')
        block bottom_js
