include ../data/app
doctype html
html(lang='ru-RU')
    head
        // SEO
        title #{app.name}

        meta(charset='urf-8')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='application-name', content=app.name)
        meta(name='description' content=app.name)
        meta(name='keywords' content='')
        meta(name='author' content=app.author)
        meta(name='copyright' content='(c)')
        meta(http-equiv='Reply-to' content=app.email)
        link(href='css/styles.css' rel='stylesheet')
        link(rel='icon', type='image/x-icon' href='~assets/favicon/favicon.ico')
        link(rel='shortcut icon', type='image/x-icon' href='~assets/favicon/favicon.ico')

    body
        block main
        //script(src='js/common.js')
        block bottom_js
