mixin productTile(product)
    .product-tile(id=product.id+'-product-tile')
        a(href="#")
            picture.product-tile__image
                source(srcset='https://cdn.atomic-shop.com/'+product.image.url media="(min-width: 768px)")
                img(src='https://cdn.atomic-shop.com/'+product.image.url720 alt=product.name)
        .product-tile__badge
        .product-tile__articul #{product.articul}
        a.product-tile__name(href="#" title=product.name)
            | #{product.name}
        .product-tile__price
            .product-tile__price__value-old #{product.priceValue}
            span.product-tile__price__value #{product.priceValueWithDiscount}
            span.product-tile__price__currency #{product.priceCurrency.character}
        if product.hasDiscussionMessages
            span.product-tile__discussion__count #{product.countDiscussionMessages}
            a(href="#").product-tile__discussion отзывы
        .product-tile__dicsount
        a.product-tile__button-add-to-cart(href="#")
            | В КОРЗИНУ
