form(id='f_' + form.name)
  fieldset
    h2 #{form.label}
    each f in form.fields
      .field
        label(for='l_' + form.name + '_' + f.name)=f.label
        .input
          case f.inputType
            when 'select'
              select(
                name=f.name,
                id='l_' + form.name + '_' + f.name
              )
                each o,index in f.options
                  option(value=index disabled=o.disabled)=o.label
            when 'checkbox'
              input(
                type='checkbox',
                name=f.name,
                id='l_' + form.name + '_' + f.name
              )
              label(for='l_' + form.name + '_' + f.name) Да

  .calc__card
    .calc__card__image
      img.js-form-image(src=require('../../../assets/svg/' + form.name + '/' + form.defaultImage))
    .js-card-description.calc__card__description

